import requests
from bs4 import BeautifulSoup
import urllib3.request,sys,time
import pandas as pd
import pdfkit
import html2text
from docx import Document
import smtplib
from email.message import EmailMessage
import os
from dotenv import load_dotenv
import yagmail
import re
from datetime import datetime
import hashlib
from termcolor import colored
import pymongo
import json
from hashlib import md5
from bson.json_util import dumps
import numpy as np
